<%- include("../header"); %>

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Sản Phẩm</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary">Thêm Sản Phẩm</h6>
      <div class="card-toolbar" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-trigger="hover" title="Click to add a user">
        <a href="/admin/add-products" class="btn btn-sm btn-light btn-active-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_invite_friends">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
          <span class="svg-icon svg-icon-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)" fill="black" />
              <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
            </svg>
          </span>
          <!--end::Svg Icon-->Thêm Mới
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>#</th>
              <th>Tên Sản Phẩm</th>
              <th>Giá Sản Phẩm</th>
              <th>Mô Tả</th>
              <th>Hình Ảnh</th>

              <th style="width: 20%;"></th>

            </tr>
          </thead>
          <tbody>
            <% products.forEach(function(product) {%>
            <tr>
              <td><%= product.id %></td>
              <td><%= product.name %></td>
              <td><%= product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></td>
              <td><%= product.description %></td>
              <td>
                <img src="/data/admin/img/<%= product.image %>" alt="" class="img-thumbnail" style="max-width: 80px;">
              </td>

              <td class="text-end">
                <a href="/admin/edit-products/<%= product.id %>" class="btn btn-warning">Sửa</a>
                <button type="button" class="btn btn-danger" onclick="confirmDelete('<%= product.id %>')">Xóa</button>
              </td>
            </tr>
            <% });%>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<%- include("../footer"); %>


<script>
  function confirmDelete(productId) {
    if (confirm('Bạn chắc chắn muốn xoá sản phẩm này?')) {
      fetch(`/admin/delete-products/${productId}`, {
        method: 'DELETE'
      })
      .then(response => {
        if (response.ok) {
          console.log('Sản phẩm đã được xoá thành công');
          window.location.reload();
        } else {
          console.error('Đã xảy ra lỗi khi xoá sản phẩm');
        }
      })
      .catch(error => console.error('Đã xảy ra lỗi:', error));
    }
  }
</script>
